<p id="title" class="text-center fw-bold bg-light p-4 text-info">Quotes for you </p>
<div class="container bg-light">
    <div class="container">
        <div class="row row-cols-2">
            <div class="descr" class="col-lg-6 col-md-12  d-sm-none  d-md-none d-lg-block  mx-auto ">
                <div class="card mt-5 bg-light "><img class="image bg-info" src="assets/images/quotepreview.png"></div>
            </div>

            <div class="col-lg-5 col-md-8 col-sm-12 col-sm-12 mx-auto">
                <div class="container mt-4 mb-4 ">
                    <form class="form mt-2 bg-light p-2 ">
                        <div class="mb-3">
                            <label for="exampleInputName" class="form-label">Name</label>
                            <input type="Name" class="form-control" id="exampleInputName" [(ngModel="name.name" )]>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" placeholder="name@gmail.com" [(ngModel="name.name" )]class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                        </div>

                        <div class="mb-3 mt-3">
                            <label class="py-2" for="floatingTextarea"> Write your quote here</label>
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>

                        </div>
                        <button type="submit" class="btn btn-primary " click()="getDataFromForm">Create</button>
                    </form>
                </div>

            </div>
        </div>

    </div>