@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
#quotecard {
    display: flex;
    flex-direction: column;
    flex: auto;
    flex-wrap: wrap;
    column-gap: 5px;
    max-width: 355px;
}

#quotecontainer {
    background: linear-gradient(#e1dbdb, #bcdeeb)
}

#quot {
    justify-content: space-between;
}

#quotes {
    font-family: 'Kaushan Script', cursive;
    font-weight: lighter!important;
}