#quotecard {
    display: flex;
    flex-direction: column;
    flex: auto;
    flex-wrap: wrap;
    column-gap: 5px;
    max-width: 355px;
}

#quotecontainer {
    background: linear-gradient(#e1dbdb, #bcdeeb)
}

#quot {
    justify-content: space-between;
}