#quotecard {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: auto;
    flex-wrap: wrap;
    column-gap: 5px;
}

#quotecontainer {
    background-color: rgb(212, 221, 212);
}

#quot {
    justify-content: space-between;
}